<% if @register.abstract? %>
  <dl class="main-section name-details mt-3">
    <h2>
      Abstract
      <% if @register.modal_form_id %>
        <sup style="font-size: 1rem;" class="mx-1">
        <%= modal_button(@register.modal_form_id, class: 'badge badge-pill badge-info') do %>
          <%= fa_icon('edit') %> Edit
        <% end %>
        </sup>
      <% end %>
    </h2>
    <p><%= @register.abstract %></p>
  </dl>
<% end %>
