<% if @register.proposing_publications.count > 1 %>
  <div class="alert alert-danger">
    The names in this list appear to be proposed in multiple publications.
    Once you notify the SeqCode of effective publication, all names in the
    list will be associated to the single publication reported. If this is
    not the desired result, please prepare two or more separate lists,
    one per effective publication.
  </div>
<% end %>

<% if @register.proposing_publications.present? && !@register.notified? &&
      !@register.validated? %>
  <div class="alert alert-warning">
    Some names in this list already include effective publication.
    Consider moving forward in the process to:<br/><br/>
    <%= link_to(
          notify_register_url(@register),
          class: 'btn btn-primary'
        ) do %>
      <%= fa_icon('file-upload') %> Notify about effective publication
    <% end %>
  </div>
<% end %>

