<%=
  f.input(
    :title, required: true,
    hint: <<~HELP.html_safe
      <b>Title of the Register List, <span class="text-danger">not the title of
      the effective publication</span></b>. The register list title will be used
      for referencing purposes and should be different from the title of the
      effective publication. For this purpose, the Registry automatically
      creates a generic register list title as it pertains to the information on
      the register list. Feel free to change it if you prefer a more descriptive
      or informative title.
    HELP
  )
%>
<%=
  f.input(
    :abstract, as: :rich_text_area, label: 'Abstract (optional)',
    hint: <<~HELP.html_safe
      <b>Abstract of the Register List, <span class="text-danger">not the
      abstract of the effective publication</span></b>. An abstract is optional,
      but it can help find your register list in public repositories and
      indicate readers what makes the lineage(s) described here interesting or
      unique.
    HELP
  )
%>
