<% if @register.post_validation_note? %>
  <div class="alert alert-info mt-4">
    <h3><%= fa_icon('info-circle') %> Post-Validation Note</h3>
    <hr/>
    <%= @register.post_validation_note %>
    <div class="text-muted small border-top mt-2 pt-2">
      <%= time_ago_with_date(@register.post_validation_note.updated_at) %>
    </div>
  </div>
<% end %>

