<% if @register.title? %>
  <% provide(:title, @register.title) %>
<% end %>

<%= render(partial: 'title') %>
<h3><%= @check.to_s.gsub(/_/, ' ').capitalize %></h3>
<%= render(partial: 'registers/curation_genomics/%s' % @check) %>

