<%= form_tag({}, method: :get, class: 'form-row pr-1') do %>
  <% Addressable::URI.parse(request.url).query_values&.each do |k, v| %>
    <%= hidden_field_tag(k, v) %>
  <% end %>
  <div class="input-group my-3 mr-1">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <%= fa_icon('filter', class: 'mr-2') %> Filter by rank
      </span>
    </div>
    <% opts = [['All', nil]] + Name.ranks.map { |i| [i.titleize, i] }%>
    <%= select_tag(
          'rank', options_for_select(opts, params[:rank]),
          class: 'form-control', id: 'filter-rank',
          onchange: 'this.form.submit(); $(this).attr("disabled", true);'
        ) %>
  </div>
<% end %>

