<% force_qc_view ||= false %>
<% if force_qc_view || @name.can_see_qc?(current_user) %>
  <% if !@name.qc_warnings.empty? %>
    <dl name="quality-checks"
        class="main-section name-details border-danger"
        style="border-left: 1em solid;">
      <h2>
        <%= fa_icon('exclamation-circle', class: 'float-right') %>
        Failed Quality Checks
      </h2>
      <% @name.qc_warnings.each do |warn| %>
        <%= render(partial: 'checks/check', locals: { warn: warn }) %>
      <% end %>
      </dd>
    </dl>
  <% else %>
    <dl class="main-section name-details border-success py-3"
        style="border-left: 1em solid;">
      <h4 class="text-success">
        <%= fa_icon('check-circle') %>&nbsp;
        All automated quality checks passed
      </h4>
    </dl>
  <% end %>
<% end %>

<% if @name.queued_for_external_resources %>
  <div class="alert alert-warning">
    External resources are currently being queried to determine potential
    homonymies across nomenclatural codes
  </div>
<% end %>
