<% provide(:title, @name.abbr_name_raw) %>
<h1 class="network-title"><%= link_to_name(@name) %> // Taxonomic Network</h1>
<hr/>

<div data-behavior="network" data-id=<%= @name.id %>>
</div>

<p class="lead">
  <b>Nodes:</b>
  The nodes are colored and placed by rank, from domain (blue, top) to
  subspecies (red, bottom).
  The focus taxon is indicated by a black ring.
  <br/>
  <b>Edges:</b>
  Solid lines correspond to taxonomic placements, with black lines
  indicating preferred placements and grey lines indicating alternative
  placements.
  Dashed red lines indicate nomenclatural types.
  Additionally, some edges are decorated with dots that indicate that a
  placement is endorsed by NCBI Taxonomy (blue) and/or GTDB (green).
</p>

<br/>
<%= render(partial: 'shared/cc') %>
