<h1>Authors</h1>
Sort by
<% %w[date publications names alphabetically].map do |sort| %>
  <span class='text-muted'>·</span>
  <%= sort == @sort ? sort : link_to(sort, authors_path(sort: sort)) %>
<% end %>
<hr/>

<%= pager @authors %>
<div class='text-center'>
  <% @authors.each do |author| %>
    <%= render author %>
  <% end %>
</div>
<br/>
<%= pager @authors %>
