<h1>Contributor Dashboard</h1>
<hr/>
<ul class='nav flex-column'>
  <li class='nav-item'>
    <%= link_to new_publication_path do %>
      <%= fa_icon 'plus-circle' %>
      Add publications
    <% end %>
  </li>
  <li class='nav-item'>
    <%= link_to new_name_path do %>
      <%= fa_icon 'plus-circle' %>
      Add names
    <% end %>
  </li>
</ul>
