<br/>
<h2>Apply for curator status</h2>
<p class=lead>
  Please state below the reasons for your application as a curator to
  <b>Candidatus excubia</b> and any additional information and/or relevant
  qualifications. Our administrators will evaluate your application and grant or
  reject the status change promptly.
</p>

<%= simple_form_for(current_user, url: curator_apply_path, html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input(:curator_statement, required: true, autofocus: true) %>
  </div>

  <div class="form-actions">
    <%= f.button(:submit, 'Apply') %>
  </div>
<% end %>

