<h1>
  Users
  <div class="badge badge-count"><%= @users.count %></div>
</h1>
<div class="container p-0">
  <div class="row">
    <div class="col-sm-12 text-right">
      <%= list_type_selector %>
    </div>
  </div>
</div>
<hr/>

<%= adaptable_list(set: @users) do |list| %>
  <% @users.each do |user| %>
    <%= render(partial: user, locals: { list: list }) %>
  <% end %>
<% end %>
