<h1>User details</h1>
<hr/>

<%= adaptable_list(set: [@user].paginate, type: :cards) do |list| %>
  <%= render(partial: @user, locals: { list: list }) %>
<% end %>

<% if @user.contributor_statement? %>
  <h2>Contributor statement</h2>
  <p><%= @user.contributor_statement %></p>
<% end %>

<% if @user.curator_statement? %>
  <h2>Curator statement</h2>
  <p><%= @user.curator_statement %></p>
<% end %>

