<div class="alert alert-info text-center mx-3">
  <b>&copy; 2022 The SeqCode Initiative</b>
  <br/>

  <%= fa_icon('creative-commons', type: :fab) %>
  <%= fa_icon('creative-commons-by', type: :fab) %>
  &nbsp;

  All information contributed to the SeqCode Registry is released under
  the terms of the
  <%= link_to(
        'https://creativecommons.org/licenses/by/4.0/', target: :_blank
      ) do %>
    Creative Commons Attribution (CC BY) 4.0
  <% end %>
  license
</div>
