<nav class="navbar small sticky-top navbar-expand text-white bg-dark-ce justify-content-between rounded">
  <div class="navbar-nav m-1">
    <%= link_to('Tutorials', tutorials_url) %> &nbsp;&raquo;
    <%= @tutorial.title %> &raquo;
    Step <%= @tutorial.step %>
  </div>
  <div>
    <%= f.submit('>', class: 'btn btn-secondary btn-sm') %>
  </div>
</nav>
