<% unless params[:content].present? %>
  <% title = '%s: %s' % [@category, @topic] %>
  <% provide(:title, title) %>
  <h1><%= title %></h1>
  <hr/>
<% end %>

<div id="seqcode-down">
  <%= @markdown.render(@document).html_safe %>
</div>
<br/>

<script>
  var sqdown = $('#seqcode-down')
  // Tables
  sqdown.find('table')
    .addClass('table table-hover table-responsive-md mt-3 mb-5');
  sqdown.find('table tr:has(td span.active)').addClass('table-active');
  
  // Out-links
  var ext_link = $('<i class="fas fa-external-link-alt ml-2"> </i>');
  var out_links = sqdown
    .find(
      'a[href^="http:"]:not(:has(.fas)), a[href^="https:"]:not(:has(.fas))'
    );
  out_links.attr("target", "_blank");
  out_links.append(ext_link);

  // In-links
  sqdown.find('a[href^="../"]').each(function() {
    $(this).attr("href", $(this).attr("href").replace(/..\/.*\/(.*)\.md/, './$1'));
  });
</script>

