<% provide(:title, 'Help Central') %>
<h1>Frequently Asked Questions</h1>
<hr/>
<ul>
  <% old_cat = nil %>
  <% @topics.each do |cat, topics| %>
    <% if cat != old_cat %>
      <h3 class="mt-3 text-muted"><%= cat.to_s.capitalize %></h3>
    <% end %>

    <% topics.each do |k, topic| %>
      <li><%= link_to(topic, help_path(k)) %></li>
    <% end %>
  <% end %>
</ul>
<br/>
