<% provide(:title, 'SeqCode Prize') %>

<h1>SeqCode Prize</h1>
<hr/>

<p>
The SeqCode Prize recognizes significant achievements in prokaryotic systematics advancing the aims and reach of the SeqCode. The Prize also recognizes significant contributions to the promotion of the SeqCode. The areas currently recognized by the SeqCode Prize include:
</p>
<ol>
  <li>Implementation of software using and expanding on the SeqCode Registry capabilities, including methods for the automated creation of taxonomic names, evaluation of metadata, redistribution and visualization of SeqCode Registry data and metadata, or integration of the SeqCode in Application Programming Interfaces (APIs) and webservers.</li>
  <li>Development of methods for the evaluation of genomic data quality, including the implementation of software, the proposal of new algorithms, the systematic evaluation of existing methodologies, the development of ontologies, or the development of community activities towards the above aims.</li>
  <li>Advancing prokaryotic systematics through the use of the SeqCode, including proposing a significant corpus of taxonomic names under the SeqCode, evaluating the impact of the SeqCode on prokaryotic taxonomy, publishing material that advances the integration and compatibility of the SeqCode with other codes of nomenclature, or otherwise publishing original research that furthers the aims and principles of the SeqCode.</li>
  <li>Creation and dissemination of educational materials related to the SeqCode in any media, including hosting workshops, creation of shareable class materials, publication of documentation (including tutorials), or production of artistic works.</li>
</ol>

<h3 class="mt-4">Eligibility</h3>
<p>
Applicants must demonstrate outstanding contributions to one or more of the areas above. Scientists at any career stage are eligible, and early career scientists and graduate students are particularly encouraged to participate. All contributions developed and/or published during the two years prior to the application deadline will be considered, with particular attention being placed on contributions developed and/or published during the six months prior to the application deadline. Applicants should clearly indicate the outcomes and impact of their contributions, and outline their individual contributions in the case of collaborations.
</p>
<p>
Elected members of the SeqCode Committee are not eligible for the SeqCode Prize.
</p>

<h3 class="mt-4">Submission format</h3>
<p>
A submission form will be released soon. In the meantime, please prepare the following information:
</p>
<ul>
  <li>Applicant’s information (name, affiliation, career stage)</li>
  <li>Abstract describing the contribution and highlighting the impact or potential impact of the contribution on the SeqCode (up to 200 words)</li>
  <li>Two letters of support from collaborators or researchers impacted by the contribution. Letters can be included in the submission package or emailed directly to the evaluation committee by the submission deadline.</li>
  <li>Link(s) to the contribution. For example, link to a published article, preprint, repository, video or playlist, podcast, website, etc.</li>
  <li>Additional attachments are accepted in cases in which publicly available resources cannot capture the breadth of the contribution. For example, in the cases of evaluation material from live workshops, conferences, or classes.</li>
  <li>Only one applicant and two supporters will be considered per application.</li>
</ul>

<h3 class="mt-4">Review Criteria</h3>
<ul>
  <li>All highlighted contributions must be publicly available by the submission deadline. In the case of manuscripts under review, preprints are accepted as evaluation material</li>
  <li>Outcomes and impact on the advancement of the aims and principles of the SeqCode</li>
  <li>The potential to incorporate the proposed contributions in the SeqCode Registry</li>
  <li>Letters of support. The content will be assessed by the evaluation committee, and greater weight will be given to support from more senior scientists that do not share affiliations with the applicant (i.e., from a different research institute or department).</li>
  <li>Contributions developed or published on or after February 2022 will be considered.</li>
</ul>

<h3 class="mt-4">Honors Information</h3>
<p>
The awardee will receive financial travel support to attend ISME 2024 of up to €2000. The awardee and their contribution will be highlighted in the SeqCode Registry.
</p>

<p>
<b>Submission deadline:</b> January 31, 2024
</p>

<br/><br/><br/><br/><br/>

