<h1>Register New Lineage Names</h1>
<hr/>

<p class="blockquote mb-3 pb-3">
  This tutorial will guide you through the registration of novel names in the
  same lineage
</p>

<h3>Select the option that best describes the name(s) you want to register:</h3>
<div class="list-group m-3">
  <%= link_to(tutorial_lineage_url, class: 'list-group-item list-group-item-action') do %>
    <h5>New species and parent taxa</h5>
    If you want to register a novel species from a novel genus.
  <% end %>
  <%= link_to(tutorial_species_url, class: 'list-group-item list-group-item-action') do %>
    <h5>New species from a previously described genus</h5>
    If you want to register a new species from a genus that is already validly
    published under the SeqCode or under the ICNP rules, or currently under
    revision in the SeqCode Registry.
  <% end %>
  <%= link_to(tutorial_subspecies_url, class: 'list-group-item list-group-item-action') do %>
    <h5>New subspecies from a previously described species</h5>
    If you want to register a new subspecies from a species that is already
    validly published under the SeqCode or under the ICNP rules, or currently
    under revision in the SeqCode Registry.
  <% end %>
  <%= link_to(tutorial_parent_url, class: 'list-group-item list-group-item-action') do %>
    <h5>New taxon above the rank of species</h5>
    If you want to register the name of a genus, family, order, class, or
    phylum, for which the type species (or genus) is already validly published
    under the SeqCode or under the ICNP rules, or currently under revision in
    the SeqCode Registry.
  <% end %>
</div>

