<p>Your authorship status for the following list has changed
<%= link_to(@object.display, @object) %>.</p>
<br/>

<h2>What does this mean?</h2>
<p>
  The submitting author of the list or a curator has added you or
  removed you as a coauthor
</p>
<br/>

<h2>What to do next?</h2>
<p>
  If you were expecting this change, you don't need to take any action.
  Otherwise, please <%= link_to('contact us', page_connect_url) %>.
</p>

