<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com</h1>
    <p>
      Dear <%= @user.given %>: <br>
    </p>
    <% if @user.contributor == true or @user.curator == true%>
      <p>Congraduations! Your application has been approved! </p>
      <p>Now you have role: 
        <%if @user.contributor == true %>
          contributor
        <%end%>
        <%if @user.curator == true %>
          , curator. 
        <%end%>
      </p>
    <% else %>
      <p>Sorry, your application was denied.</p>
      <p>Please contact us if you have any questions.</p>
    <%end%>
    <p>Best</p>
    <p>SeqCode Team</p>
    
  </body>
</html>
