<h1>
  Subjects
  <small class='text-muted'>(<%= @subjects.count %>)</small>
</h1>
<hr/>

<div class='text-center'>
<% @subjects.each do |subject| %>
  <%= render subject %>
<% end %>
</div>
<br/><br/>

