<% unless @name.present? %>
  <div class="alert alert-warning">
    <h4>Marked for deletion</h4>
    This genome is currently not registered as the nomenclatural type or the
    reference genome of any names in the Registry, and it will be purged from
    the database soon unless it is linked to a name
  </div>
<% end %>

<% if @name.present? && @genome.strain.present? &&
      @genome.strain.typified_names.any? { |name| name != @name } %>
  <div class="alert alert-info">
    This genome is derived from <%= display_link(@genome.strain) %>, which
    serves as the nomenclatural type for:
    <ul>
      <% @genome.strain.typified_names.each do |name| %>
        <li><%= display_link(name) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

