/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= stub pdf
 *= require_self
 */

@import 'easy-autocomplete/dist/easy-autocomplete';

$theme-colors: (
  // "primary": indigo,
  // "secondary": slategrey,
  // "info": rgb(23, 162, 184)
  "primary": rgb(38, 104, 153),
  "secondary": slategrey,
  "info": rgb(23, 172, 184)
);

@import "bootstrap";
@import "font_awesome5_webfont";

.card-columns {
  @include media-breakpoint-only(sm) { column-count: 1; }
  @include media-breakpoint-only(md) { column-count: 2; }
}

.card-columns-wide {
  @include media-breakpoint-only(sm) { column-count: 1; }
  @include media-breakpoint-only(md) { column-count: 1; }
  @include media-breakpoint-only(lg) { column-count: 2; }
  @include media-breakpoint-only(xl) { column-count: 3; }
}

.card-header-link {
  color: black;
  &:hover {
    div {
      background-color: theme-color-level(primary, 7) !important;
      color: white;
    }
    text-decoration: none;
    //color: var(--primary);
    //color: theme-color-level(primary, 7);
  }
}

.turbolinks-progress-bar {
  background-color: var(--info);
  height: 3px;
}

/*
  Application / main
*/
.main-page-box {
  @include media-breakpoint-up(md) {
    .main-tab-button {
      &.active {
        border: 1px solid var(--primary) !important;
        border-bottom: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius:  0 !important;
        background: theme-color-level(light, 0.6666) !important;
      }
    }
    *:has(> .main-tab-button:not(.active)) {
      margin-bottom: 1rem !important;
    }
    .tab-content .jumbotron {
      border-top: 3px solid var(--primary);
      border-top-left-radius:  0 !important;
      border-top-right-radius: 0 !important;
    }
  }
  @include media-breakpoint-down(sm) {
    .main-tab-button {
      *:has(> &) {
        padding: 0.5rem 0 !important;
        &:last-child {
          padding-bottom: 1rem !important;
        }
      }
    }
    .nav-pills {
      .nav-item {
        margin: 0;
        .nav-link {
          border-radius: 0 !important;
        }
        .nav-link.active {
          color: #fff !important;
        }
      }
    }
    .jumbotron {
      padding-top: 0 !important;
      margin: -1px -0.5em 0 -0.5em;
      border-top: 3px solid var(--primary);
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
  }
}

