
@import "application";

.bg-dark-ce {
  // background-color: #322348 !important;
  background-color: theme-color-level(primary, 7) !important;
}
.bg-vdark-ce {
  // background-color: #221831 !important;
  background-color: theme-color-level(primary, 7) !important;
  //background-color: theme-color-level(primary, 9) !important;
}

.main-section {
  background-color: var(--light);
  padding: 2em;
  dd {
    margin-left: 2em;
  }
}

#devise-well {
  form {
    padding: 1em 0;
    border-bottom: indigo 3px solid;
  }
  .actions {
    padding: 1em 0;
  }
}

#dashboard-actions, .btn {
  .fa, .fas, .far, .fal, .fad, .fab {
    min-width: 1.5em;
  }
}

trix-editor {
  &.form-control {
    min-height: 5rem;
    height: auto;
  }
}

.trix-content {
  action-text-attachment {
    .attachment--file {
      padding: 0.4em 1em !important;
      background: white;
    }
  }
}

.hover-help {
  text-decoration: underline;
  &.fa, &.fas, &.far, &.fal, &.fad, &.fab {
    color: theme-color(info);
    text-decoration: none;
    &:hover {
      color: theme-color-level(info, 3);
    }
  }
}

/* Header Bar */
.bg-dark-ce, .bg-vdark-ce {
  a {
    color: white;
    &:hover{
      color: white;
      text-shadow: 0 0 5px #ffffff66, 0 0 10px #ff4da666, 0 0 15px #ff4da666, 0 0 20px #ff4da666 ;
    }
  }
}

nav.navbar-dark {
  @include media-breakpoint-down(md) {
    /* When the links are in a burger menu */
    font-size: 200%;
    .navbar-lemma {
      font-size: 75%;
    }
    .navbar-brand {
      font-size: 100%;
    }
  }
  .navbar-lemma {
    @include media-breakpoint-down(sm) {
      font-size: 50%;
    }
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
  /* When the links are out */
  @include media-breakpoint-up(lg) {
    .nav-item-text {
      color: #ffffffc0;
      padding: 0 0.1em;
      &:hover {
        color: white;
      }
    }
  }
  /* General */
  #navbarNav {
    color: rgba(255, 255, 255, 0.5);
    text-align: right;
    .nav-item, .nav-text {
      padding-left: 0.75em;
      .nav-item-text {
        padding: 0 0.1em;
      }
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
    .navbar-lemma {
      background: #ffffff50;
    }
  }
}

/* Home Page */
.user-actions {
  .btn {
    margin-top: 0.25em;
    margin-bottom: 0.75em;
  }
}

.recent-entries-list {
  a {
    &:hover {
      text-decoration: none;
      div {
        background: #00000010;
      }
    }
    div {
      padding: 1rem;
      border-top: 1px solid #00000020;
    }
  }
}

.tab-button {
  &:hover {
    background: #00000010 !important;
  }
}

.highlight {
  background-color: #ffeeaa; // #ff6db7;
}

