
.bg-dark-ce {
  background-color: #322348 !important;
}
.bg-vdark-ce {
  background-color: #221831 !important;
}
.bg-dark-ce, .bg-vdark-ce {
  a {
    color: rgba(255, 255, 255, 0.5);
    &:hover{
      color: white;
    }
  }
}

.main-section {
  background-color: var(--light);
  padding: 2em;
  dd {
    margin-left: 2em;
  }
}

#devise-well {
  form {
    padding: 1em 0;
    border-bottom: indigo 3px solid;
  }
  .actions {
    padding: 1em 0;
  }
}

#dashboard-actions, .btn {
  .fa, .fas, .far, .fal, .fad, .fab {
    min-width: 1.5em;
  }
}

trix-editor {
  &.form-control {
    min-height: 5rem;
    height: auto;
  }
}

