.name-details {
  dt {
    .fa, .fas, .far, .fal, .fad, .fab {
      width: 1.75em;
    }
  }

  dd ul {
    padding-left: 1rem;
  }

  h2 {
    padding-bottom: 0.2em;
    margin-bottom: 0.3em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

