// Place all the styles related to the Names controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name-details {
  dt {
    .fa, .fas, .far, .fal, .fad, .fab {
      width: 1.75em;
    }
  }
  h2 {
    padding-bottom: 0.2em;
    margin-bottom: 0.3em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
