// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

pre.json, code.json {
  background: #EFEFEF;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  i {
    color: #e83e8c;
    background: #f8eefc;
    border: 1px solid #e83e8c;
    padding: 0 0.2rem;
    border-radius: 0.2rem;
  }
}

