@import url("https://fonts.googleapis.com/css?family=PT+Sans");

body {
  font-family: PT Sans, Helvetica, sans-serif;
  padding: 0 1em;
}

#header {
  border-bottom: 1px solid grey;
  color: grey;
  width: 100%;
  padding: 0;
  div {
    width: 50%;
    margin: 0;
    padding: 1em;
    display: inline-block;
  }
}

#footer {
  border-top: 1px solid grey;
  color: grey;
  width: 100%;
  padding: 1em;
  text-align: center;
}

#content {
  padding: 2em 0;
}

.table-pdf {
  width: 100%;
  border-collapse: collapse;
  th, td {
    border: 1px solid black;
    margin: 0;
    padding: 0.5em;
  }
}

a {
  color: rgb(23, 162, 184);
}

dt {
  font-weight: bold;
  margin-left: 0.75em;
}

dd {
  margin-bottom: 0.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

sup {
  font-size: 60%;
}

.text-center {
  text-align: center;
  h2 {
    background: none;
    border: none;
  }
}

// List
.pdf-abstract {
  padding: 0.2em 1em 0.5em 1em;
  page-break-inside: avoid;
}
.pdf-list-entry {
  h2 {
    border-bottom: 1px solid rgb(200, 200, 200);
    margin: 0;
  }
  margin: 0 0 3em 0;
  padding: 0 1em;
  border-radius: 5px;
}
.avoid-page-break {
  page-break-inside: avoid;
}
.pdf-certificate {
  margin: 3em 0;
  padding: 0.5em 3em 1.5em 3em;
  background: #f8f8f8;
  border: 2px solid #eeeeee;
  border-radius: 10px;
  page-break-inside: avoid;
}
