<div class="container news">
  <div class="row mx-1">
    <div class="col-lg-12 text-center">
      <h1>SeqCode News</h1>
      <hr/>
    </div>
    <dl class="col-lg-12">
      <dt>
        <div class="date">August 30, 2023</div>
        Call for Nominations for the SeqCode Prize 2024
      </dt>
      <dd>
        Announcing the SeqCode Prize 2024! 
        This prize will recognize significant achievements in prokaryotic
        systematics advancing the aims and reach of the SeqCode. Please share
        as widely as possible, early career scientists and graduate students
        are particularly encouraged to participate. For more information,
        visit <b><%= link_to('https://seqco.de/prize', page_prize_url) %></b>.
      </dd>

      <dt>
        <div class="date">June 23, 2023</div>
        The Reconciliation Comission is seeking your contribution
      </dt>
      <dd>
        <% disc2_url = 'https://github.com/seq-code/seqcode/discussions/2' %>
        Please share your opinion on the validation of the species name
        ‘<i>Omnitrophus fodinae</i>’ by commenting on this discussion:
        <b><%= link_to(disc2_url, disc2_url, target: '_blank') %></b>.
      </dd>
    </dl>
  </div>
</div>
