<% @reports.each do |report| %>
  <div class="text-right muted-text">
    <% if report.user.present? %>
      <%= display_link(report.user) %>,
    <% else %>
      <%= fa_icon('robot') %> Excubia bot
    <% end %>
    <%= time_ago_with_date(report.created_at) %>
  </div>
  <%= report.html.html_safe %>
  <hr/>
<% end %>
