<div id="header">
  <div>SeqCode Registry</div>
  <% if @register ||= nil %>
    <div style="text-align: right; position: fixed; top: 0; right: 0;">
      Register List
      <%= link_to(@register.acc_url(true), @register.acc_url(true)) %>
      [<%= @register.priority_date&.year || @register.status_name %>]
    </div>
  <% end %>
</div>
<br/>
