<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <%= wicked_pdf_stylesheet_link_tag('pdf') %>
    <%# wicked_pdf_javascript_include_tag('number_pages') %>
    <script>
      function alter_pdf() {
        // Handle links
        var a = document.getElementsByTagName("A");
        for(var j=0; j < a.length; ++j) {
          a[j].html = "";
        }

        // Add page numbers
        var vars = {};
        var x = document.location.search.substring(1).split('&');
        for (var i in x) {
          var z = x[i].split('=', 2);
          vars[z[0]] = decodeURIComponent(z[1]);
        }
        var x = ['frompage', 'topage', 'page', 'webpage', 'section',
                 'subsection','subsubsection'];
        for (var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for (var j = 0; j < y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>
  </head>
  <body onload="alter_pdf()">
    <%= yield %>
  </body>
</html>
